@import "./node_modules/bootstrap/scss/bootstrap.scss";

//Lamando a los módulos necesarios para trabajar con las medias querys de bootstraps
@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/mixins/";


@media (min-width: TAMAÑO-EN-PÍXELES){
    
}

@include media-breakpoint-down(lg){
    body{
        background-color: green;
    }
    //OTRO EJERCICIO
    .container-fluid{
        background-color: green;
    }
}
    
@include media-breakpoint-up(lg){
    .container-fluid{
        background-color: pink;
    }
}
    